.cursor-pointer {
  cursor: pointer !important;
}

.text-weight-light {
  font-weight: 200;
}

.text-black {
  color: #000000;
}

.dashboard-card {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  padding: 24px;
}

.text-red {
  color: red;
}

.text-underline {
  text-decoration: underline;
}